body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
  }
  
  #game {
    position: relative;
    width: 360px; 
    height: 640px;   
    background-image: url("assets/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    image-rendering: pixelated;

    transform: scale(1.4);
  transform-origin: center;
  }

  #pauseOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 30;
  }
  
  #pauseLogo {
    width: 200px;
    image-rendering: pixelated;
  }
  
  #endLogo {
    width: 220px;              /* adjust if needed */
    max-width: 80%;
    image-rendering: pixelated;
  }
  
  #score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    z-index: 10;
  }
  
  /* Character */
  #player {
    position: absolute;
    bottom: 105px;
    left: 250px;
    width: 100px;
    image-rendering: pixelated;
  }
  
  /* Falling food */
  .food {
    position: absolute;
    top: -40px;
    width: 30px;
    image-rendering: pixelated;
  }

  #startMenu {
    position: absolute;
    width: 600px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  
  #logo {
    width: 300px;
    image-rendering: pixelated;
    margin-bottom: 20px;
  }
  
  #startButton {
    font-family: monospace;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #pauseText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: white;
    display: none;
    z-index: 15;
  }
  
  .hint {
    color: white;
    font-family: monospace;
    margin-top: 20px;
    font-size: 14px;
  }

  #lives {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
    z-index: 10;
  }
  
  .heart {
    width: 24px;
    image-rendering: pixelated;
  }
  
  #endScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 40;
    color: white;
  }
  
  #vomit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
    z-index: 25;
    image-rendering: pixelated;
    pointer-events: none;
    animation: shake 0.3s infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(4px, -4px); }
    50% { transform: translate(-4px, 4px); }
    75% { transform: translate(4px, 4px); }
  }
  